extends layouts/main

block contents
    .user-title
        img(src=user.avatarUrl, alt="you did not select avatar")
    .user-title__name
        span=user.name
    .user-edit
        a(href=`/users${routes.userEdit}`) Edit User Profile