include ../mixins/message.pug

<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="/assets/styles.css")
        title #{siteName} | #{pageTitle}
    include ../partials/header.pug    
    body
        if messages.error
            +message("error", messages.error)
        if messages.success
            +message("sucess", messages.sucess)
        if messages.info
            +message("info", messages.info)
        main
            h1=pageTitle
            block contents
        footer
            include ../partials/footer.pug
    script(src="/assets/js/main.js")
    block scripts